/* 头部 logo 部分 */
.header {
  width: 100%;
  max-width: 1024px;
  text-align: center;
  padding: .3rem .5rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 152;
}

.header .header_fl_list,
.header .header_fr_telPhoto {
  width: 7%;
  float: left;
  text-align: center;
  margin-top: .4rem;
}

.header .header_logo {
  width: 85%;
  float: left;
  text-align: center;
}

.header .header_logo img {
  display: block;
  width: 12rem;
  margin: 0 auto;
}

.header img {
  display: block;
  width: 100%;
}

.header .header_fr_telPhoto {
  margin-top: .3rem;
  margin-right: .1rem;
}

.header .header_fr_telPhoto {
  animation: mymove 5s infinite;
  -webkit-animation: mymove 5s infinite;
  /*Safari and Chrome*/
  animation-direction: alternate;
  /*轮流反向播放动画。*/
  animation-timing-function: ease-in-out;
  /*动画的速度曲线*/
  /* Safari 和 Chrome */
  -webkit-animation: mymove 5s infinite;
  -webkit-animation-direction: alternate;
  /*轮流反向播放动画。*/
  -webkit-animation-timing-function: ease-in-out;
  /*动画的速度曲线*/
}







/* 遮罩层 */
.mask {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  display: none;
}



















.menu_fl {
  background-color: #fff;
  padding-top: 2rem;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 501;
}

.menu_fl li {
  line-height: 2rem;
  font-size: .75rem;
  text-align: center;

}

.menu_fl li a {
  display: block;
  width: 100%;
  height: auto;
  color: #333;
}

.menu_fl li a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: .5rem;
  margin-top: -.1rem;
}

.menu_fl li:first-child a span {
  background: url(../images/brand.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(2) a span {
  background: url(../images/team.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(3) a span {
  background: url(../images/activity.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(4) a span {
  background: url(../images/case.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(5) a span {
  background: url(../images/Route.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(6) a span {
  background: url(../images/plant.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(7) a span {
  background: url(../images/orthodontics.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(8) a span {
  background: url(../images/white.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(9) a span {
  background: url(../images/repair.png)no-repeat center /100% 100%;
}

.menu_fl li:nth-child(10) a span {
  background: url(../images/dental_periphery.png)no-repeat center /100% 100%;
}


.menu_fl li:last-child a span {
  background: url(../images/children.png)no-repeat center /100% 100%;
}




/* 点击导航按钮 旋转 45deg */
.click_before {
  animation: 0.6s rotatefresh forwards;
}

@keyframes rotatefresh {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
    transition-duration: 0.6s;
    transition: 0.6s;
  }
}

/* 点击导航按钮 旋转 90deg  */
.click_after {
  animation: 0.6s click_after forwards;

}

@keyframes click_after {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
    transition-duration: 0.6s;
    transition: 0.6s;
  }
}





/* 主导航 */
.mainNav {
  width: 100%;
  display: flex;
}

.mainNav li {
  flex: 1;
  margin: .5rem .3rem .3rem;
  text-align: center;
}

.mainNav li a {
  display: block;
  width: 100%;
  height: auto;
}


.mainNav li a img {
  display: block;
  width: 100%;
}


.mainNav li a h3 {
  font-size: .7rem;
  line-height: 1.5rem;
  color: #333;
}

/* 子导航 */
.swiper-container.subNav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: .5rem 0;
  box-sizing: border-box;
}

.swiper-container.subNav .subNav_tit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
}

.swiper-container.subNav .subNav_tit span {
  display: block;
  font-size: 2.3rem;
  color: #ccc;
  margin-right: .5rem;
}

.swiper-container.subNav .subNav_tit .tit_fr h1 {
  font-size: .8rem;
  color: #AE57A4;
  margin-bottom: .5px;
  font-weight: bold;
}

.swiper-container.subNav .subNav_tit .tit_fr h3 {
  font-size: .7rem;
  color: #333;
}



.subNav .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  align-items: center;
}

.subNav .swiper-slide a {
  display: block;
  width: 100%;
  height: auto;
}

.subNav .swiper-slide img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.subNav .swiper-slide h3 {
  font-size: .75rem;
  line-height: 1.3rem;
  color: #ff8800;
}

.subNav .swiper-slide p {
  font-size: .7rem;
  line-height: 1rem;
  color: #999;
}

.subNav .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #AE57A4;
}



/* 错误提示信息 */
.error_message {
  width: 10rem;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 300;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px #666;
  border-radius: .5rem;
  overflow: hidden;
  padding: .5rem;
  box-sizing: border-box;
  text-align: center;
}

.error_message h3 {
  font-size: .75rem;
  line-height: 1.3rem;
}

.error_message h3 span {
  color: #ff0000;
  font-size: .8rem;
}

.error_message p {
  font-size: .75rem;
  line-height: 1.5rem;
}

.error_message a {
  display: block;
  font-size: .8rem;
  padding: .1rem .5rem;
  background-color: #ff8800;
  color: #fff;
  border-radius: .5rem;
}

.error_hide {
  display: none;
}






























.glfe-footer {
  width: 100%;
  padding-bottom: 3.5rem;
  text-align: center;
  background-color: #303030;
  overflow: hidden;
}

.foot-logo {
  display: inline-block;
  width: 30%;
  vertical-align: middle;

}

.foot-logo img {
  display: block;
  width: 100%;
}

.foot-contact {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding-left: 2%;
  margin-top: .8rem;
  border-left: 1px solid #696969;
}

.foot-contact p {
  font-size: .7rem;
  color: #fff;
  height: 1rem;
  line-height: 1rem;
}

.foot-contact p i {
  display: inline-block;
  width: .7rem;
  height: .7rem;
  vertical-align: middle;
  margin-right: .3rem;
}

.foot-contact p .icon-c1 {
  background: url(../images/footer_tel.png) no-repeat center /100% 100%;
  background-size: contain;
}

.foot-contact p .icon-c2 {
  background: url(../images/footer_time.png) no-repeat center /100% 100%;
  background-size: contain;
}

.foot-contact p .icon-c3 {
  background: url(../images/footer_home.png) no-repeat center /100% 100%;
  background-size: contain;
}


.foot-contact p a {
  color: #fff;
  display: inline-block;
}

.copyright {
  width: 100%;
  margin: 5% auto;
  padding: 4% 4% 5%;
  box-sizing: border-box;
  border-top: 1px solid #3d3d3d;
  font-size: .7rem;
}

.copyright a {
  color: #666;
  font-size: .75rem;
}






/* 底部导航 */
.glfe-swtbar {
  position: fixed;
  bottom: 0;
  z-index: 150;
  width: 100%;
  height: 3.5rem;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  font-size: 0;
  border-top: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: flex;
}

.glfe-swtbar .bar-item {
  flex: 1;
  padding: .3rem;
  box-sizing: border-box;
  text-align: center;
}

.glfe-swtbar .bar-item i {
  display: block;
  width: 50%;
  height: 1.8rem;
  margin: 0 auto;
}

.glfe-swtbar .bar-item span {
  font-size: .73rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bolder;
  margin: 0 auto;
}


.glfe-swtbar .bar-item:first-child i {
  background: url(../images/bar_home.png)no-repeat center / 100% 100%;
}


.glfe-swtbar .bar-item:nth-child(2) i {
  background: url(../images/bar_team.png)no-repeat center / 100% 100%;
}

.glfe-swtbar .bar-item:nth-child(3) {
  margin-top: -1.7rem;
}

.glfe-swtbar .bar-item:nth-child(3) i {
  width: 88%;
  height: 3.2rem;
  border-radius: 50%;
  margin-bottom: .3rem;
  background-color: #fff;
}

.glfe-swtbar .bar-item:nth-child(3) i img {
  display: block;
  width: 100%;
  height: 100%;
}

.glfe-swtbar .bar-item:nth-child(4) i {
  background: url(../images/bar_case.png)no-repeat center / 100% 100%;
}

.glfe-swtbar .bar-item:last-child i {
  background: url(../images/bar_map.png)no-repeat center / 100% 100%;
}


/* 左移入动画 */
.shift_right {
  animation: shift_right 1s linear;
}

@keyframes shift_right {
  0% {
    transform: translateX(-18rem)
  }

  100% {
    transform: translateX(0rem)
  }
}


.shift_left {
  animation: shift_left 1s linear;
}

@keyframes shift_left {
  0% {
    transform: translateX(0rem)
  }

  100% {
    transform: translateX(-28rem);

  }
}


/* 弹出框 */
.Popup {
  position: fixed;
  z-index: 999;
  width: 75%;
  max-width: 13.5rem;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: .5rem;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px .3rem .1rem rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px .3rem .1rem rgba(0, 0, 0, .3);
  -o-box-shadow: 0px 0px .3rem .1rem rgba(0, 0, 0, .3);
  -ms-box-shadow: 0px 0px .3rem .1rem rgba(0, 0, 0, .3);
  box-shadow: 0px 0px .3rem .1rem rgba(0, 0, 0, .3);

}

.Popup a {
  display: block;
  width: 50%;
  height: 3rem;
  position: absolute;

}

.Popup a:nth-child(2) {
  bottom: 0;
  left: 0;
}

.Popup a:nth-child(3) {
  bottom: 0;
  right: 0;
}

.Popup img {
  display: block;
  width: 100%;
}

.Popup span {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 50%;
}

.fadeInDown1 {
  -webkit-animation-name: Popup;
  -moz-animation-name: Popup;
  -ms-animation-name: Popup;
  -o-animation-name: Popup;
  animation-name: Popup;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -ms-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  animation: fadeInDown1 1s linear;
}

@keyframes fadeInDown1 {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);

  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(6deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(6deg);
    -ms-transform: translate3d(0, 0, 0) rotate(6deg);
    -o-transform: translate3d(0, 0, 0) rotate(6deg);
  }


  100% {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown2 {
  animation: fadeInDown2 1s linear forwards;
}

@keyframes fadeInDown2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }


  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
}

/* 右侧闪动咨询按钮 */
.m_rightfloat {
  z-index: 999;
  position: fixed;
  bottom: 15%;
  right: 1%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .3rem;
}

.m_rightfloat .s-ripple {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  transform-origin: 0px 0px 0px;
  transform: scale(1, 1);
  top: 40%;
  right: 15px;
}

.m_rightfloat .s-ripple i {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  line-height: .9rem;
  border-radius: 50%;
  border: 1px solid #EA0000;
  box-sizing: border-box;
}

.m_rightfloat .ripple {
  background: #EA0000;
  color: #fff;
  font-size: .65rem;
  text-align: center;
  font-style: normal;
  padding-top: 13%;
  opacity: .8;
}

.m_rightfloat .ripple-a {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: pan-ripple 2s linear infinite;
  animation: pan-ripple 2s linear infinite;
}




.m_rightfloat .ripple-b {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: pan-ripple 1s linear infinite;
  animation: pan-ripple 1s linear infinite;
}

@keyframes pan-ripple {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.4);
    opacity: 0;
  }
}


/* 置顶 */
.scroll_top {
  width: 2.5rem;
  padding: .4rem .3rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 1%;
  text-align: center;
}

.scroll_top span {
  display: block;
  width: 1.5rem;
  height: 1rem;
  background: url(../images/top.png)no-repeat center / 100% 100%;
  margin: 0 auto .2rem;
}

.scroll_top p {
  font-size: .65rem;
  line-height: .8rem;
  color: #fff;
}